.content {
  padding: 10px;
}

.content img {
  width: 100%;
}

.mainTitle {
  font-size: 40px;
  font-family: cursive;
  color: beige;
  text-align: center;
}

.text {
  color: aliceblue;
}